<div class="header-container">
  <div class="row m-0">
    <div class="col-md-6 justify-content-center">
      <div class="d-flex text-center align-items-center">
        <p-avatar
          image="../assets/avata.jpg"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <h2 class="heading-section">SHOP THE SUN SHINE</h2>
      </div>
    </div>
    <div class="col-md-6 justify-content-between p-0">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-center">
          <div class="navbar-brand">
            Chuyên nhập khẩu các loại hoa
            <span>Hoa Lan-Hoa Hồ Điệp-Tất Cả Các Loại Lá Trang Trí</span>
            <span>Giá Sỉ và Lẻ</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container-fluid">
        <div
          class="collapse navbar-collapse d-flex justify-content-between pt-2 pb-2"
          id="ftco-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <span class="nav-link"
                ><p class="mb-0 d-flex">Hotline/Zalo:0932615622</p></span
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control mr-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
